body{
    background-color:white;
   
}

main{
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px; 
    box-sizing: border-box;
}

.list_{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;

    
}

.top_banner{
    font-family: 'Source Serif Pro', serif;
    font-weight: 800;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 70px;
}
.navbar {min-height:30px !important;}

.navbar-toggle {
    padding: 0 0;
    margin-top: 7px;
    margin-bottom: 0;
}

.nav_text{
    font-size: 'Source Serif Pro', serif;
    font-weight: 800;
}

.grab_{
    background: rgb(58,80,107);
    background: linear-gradient(279deg, rgba(58,80,107,1) 8%, rgba(207,141,61,1) 51%, rgba(58,80,107,1) 100%);
}

footer {
   background-color:#CF8D3D ;
  }

  .my_nav{
      background-color: white;
    }


    .hero_text{
        color: whitesmoke;
        text-shadow:  3px 3px 0 #000,
        -1px -1px 0 #000,  
         1px -1px 0 #000,
         -1px 1px 0 #000,
          1px 1px 0 #000;;
        font-size: 4rem;
        font-weight: bold;
        font-family: 'Source Serif Pro', serif;
    }

    .hero_para {
        color: white;
        font-size: 2rem;
        font-family: 'Source Serif Pro', serif;
        font-weight: 300;
    }

    .my_line{
       background-color: white;
       opacity: 0.5;
    }

    .hero_cont{
    background-color:#cf8d3d;
    }

    .my_button{
        background-color: lightgrey;
        color: white;
        text-shadow:  3px 3px 0 #000,
        -1px -1px 0 #000,  
         1px -1px 0 #000,
         -1px 1px 0 #000,
          1px 1px 0 #000;
        font-weight: bold;
        font-size: 3rem;
        margin-left: 4rem;
        margin-bottom: 10px;
    }

    .my_button:hover, .my_button:focus, .my_button:active {
        background-color: #96ADC8 !important;
    }

    .price_cont{
        background-color:#96ADC8;
        color: white;
    }

  